.brief {
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
    margin: 5px;
    background-color: #fff;
}

.title {
    border-bottom: solid 1px #fff;
    margin-bottom: 5px;
}


.user {
    border-top: solid 1px #000;
    margin-top: 5px;
}

.titulo {
    width: 100%;
    text-align: center;
}


.link {
    color: white;
    text-decoration: none;
    background-color:#68696A;
    border-radius: 5px;
    font-size: 2em;
}

.link:hover {
    text-decoration: none;
    color: white;
    background-color: #575758 ;
}
